@charset "UTF-8";
@font-face {
  font-family: 'ChakraPetch';
  font-weight: bold;
  src: url("/static/fonts/ChakraPetch-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'ChakraPetch';
  font-weight: normal;
  src: url("/static/fonts/ChakraPetch-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'ProximaNova';
  font-weight: bold;
  src: url("/static/fonts/proximanova_bold.otf") format("opentype"); }

@font-face {
  font-family: 'ProximaNova';
  font-weight: normal;
  src: url("/static/fonts/proximanova_regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Inter';
  font-weight: bold;
  src: url("/static/fonts/Inter_18pt-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Inter';
  font-weight: normal;
  src: url("/static/fonts/Inter_18pt-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Almarai';
  font-weight: normal;
  src: url("/static/fonts/Almarai-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Alike';
  font-weight: normal;
  src: url("/static/fonts/Alike-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'ChakraPetch';
  font-weight: bold;
  src: url("/static/fonts/ChakraPetch-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'ChakraPetch';
  font-weight: normal;
  src: url("/static/fonts/ChakraPetch-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'ProximaNova';
  font-weight: bold;
  src: url("/static/fonts/proximanova_bold.otf") format("opentype"); }

@font-face {
  font-family: 'ProximaNova';
  font-weight: normal;
  src: url("/static/fonts/proximanova_regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Inter';
  font-weight: bold;
  src: url("/static/fonts/Inter_18pt-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Inter';
  font-weight: normal;
  src: url("/static/fonts/Inter_18pt-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Almarai';
  font-weight: normal;
  src: url("/static/fonts/Almarai-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Alike';
  font-weight: normal;
  src: url("/static/fonts/Alike-Regular.ttf") format("truetype"); }

/* line 3, home/static/scss/header.scss */
header .btn__change {
  background-image: url(/static/img/header_btn.svg);
  width: 180px;
  height: 30px;
  border: none;
  font-family: "ChakraPetch", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #fff; }

/* line 18, home/static/scss/header.scss */
.navbar-overlay {
  position: fixed;
  top: 0;
  right: -320px;
  width: 320px;
  height: 100%;
  background: #F5E4C4;
  transition: right 0.3s ease;
  z-index: 1050;
  display: flex;
  flex-direction: column; }
  /* line 30, home/static/scss/header.scss */
  .navbar-overlay.active {
    right: 0; }
  /* line 34, home/static/scss/header.scss */
  .navbar-overlay .navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-family: "Alike", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #141414; }
    /* line 43, home/static/scss/header.scss */
    .navbar-overlay .navbar-header .close-btn {
      font-size: 1.5rem;
      cursor: pointer; }
  /* line 49, home/static/scss/header.scss */
  .navbar-overlay .navbar-nav {
    padding: 0px 30px;
    font-family: "Almarai", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #141414; }

/* line 58, home/static/scss/header.scss */
body.blur-background::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(245, 228, 196, 0.4);
  backdrop-filter: blur(5px);
  z-index: 1040;
  pointer-events: none;
  transition: backdrop-filter 0.3s ease, background 0.3s ease; }

@font-face {
  font-family: 'ChakraPetch';
  font-weight: bold;
  src: url("/static/fonts/ChakraPetch-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'ChakraPetch';
  font-weight: normal;
  src: url("/static/fonts/ChakraPetch-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'ProximaNova';
  font-weight: bold;
  src: url("/static/fonts/proximanova_bold.otf") format("opentype"); }

@font-face {
  font-family: 'ProximaNova';
  font-weight: normal;
  src: url("/static/fonts/proximanova_regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Inter';
  font-weight: bold;
  src: url("/static/fonts/Inter_18pt-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Inter';
  font-weight: normal;
  src: url("/static/fonts/Inter_18pt-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Almarai';
  font-weight: normal;
  src: url("/static/fonts/Almarai-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Alike';
  font-weight: normal;
  src: url("/static/fonts/Alike-Regular.ttf") format("truetype"); }

/* line 3, home/static/scss/footer.scss */
.bg-footer {
  background: #f8f8f8; }

/* line 10, home/static/scss/footer.scss */
footer .col h5 {
  padding-bottom: 10px;
  font-family: "ProximaNova", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: justify;
  color: #242424; }

/* line 20, home/static/scss/footer.scss */
footer .col_container {
  border-top: 1px solid #d9d9d9; }
  /* line 23, home/static/scss/footer.scss */
  footer .col_container a {
    font-family: "ProximaNova", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #242424;
    text-decoration: none; }

/* line 34, home/static/scss/footer.scss */
footer .footer__btn .btn {
  background: #f68619;
  width: 180px;
  height: 30px;
  font-family: "ProximaNova", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center; }

/* line 51, home/static/scss/footer.scss */
.gw-site {
  background: #f68619;
  z-index: 1;
  height: 30px; }
  /* line 55, home/static/scss/footer.scss */
  .gw-site p {
    font-family: "ChakraPetch", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #fff; }

/* line 6, home/static/scss/main.scss */
a {
  display: block;
  text-decoration: auto; }

/* line 10, home/static/scss/main.scss */
.top__container {
  max-width: 1400px;
  margin: 0 auto; }

/* line 15, home/static/scss/main.scss */
.jumbotron {
  position: relative;
  max-width: 1400px;
  height: 600px;
  margin: 0 auto 100px auto; }
  /* line 20, home/static/scss/main.scss */
  .jumbotron img {
    position: absolute; }
  /* line 23, home/static/scss/main.scss */
  .jumbotron .container {
    position: relative; }
  /* line 28, home/static/scss/main.scss */
  .jumbotron .jumbotron__section {
    max-width: 580px; }
  /* line 31, home/static/scss/main.scss */
  .jumbotron .jumbotron__title {
    font-family: "ChakraPetch", sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #fff; }
    @media (max-width: 768px) {
      /* line 31, home/static/scss/main.scss */
      .jumbotron .jumbotron__title {
        font-size: 24px; } }
  /* line 42, home/static/scss/main.scss */
  .jumbotron .jumbotron__text {
    font-family: "ChakraPetch", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #fff; }
  /* line 50, home/static/scss/main.scss */
  .jumbotron .jumbotron__info {
    border-radius: 20px;
    padding: 30px;
    background: #f8f8f8; }
    /* line 54, home/static/scss/main.scss */
    .jumbotron .jumbotron__info .btn {
      border-radius: 20px;
      max-width: 220px; }
    /* line 59, home/static/scss/main.scss */
    .jumbotron .jumbotron__info .jumbotron__info-title {
      font-family: "ChakraPetch", sans-serif;
      font-weight: 700;
      font-size: 14px;
      color: #242424; }
    /* line 65, home/static/scss/main.scss */
    .jumbotron .jumbotron__info .jumbotron__info-text {
      font-family: "ChakraPetch", sans-serif;
      font-weight: 400;
      font-size: 12px;
      color: #242424; }
      /* line 70, home/static/scss/main.scss */
      .jumbotron .jumbotron__info .jumbotron__info-text div {
        position: relative; }
        /* line 72, home/static/scss/main.scss */
        .jumbotron .jumbotron__info .jumbotron__info-text div img {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 4px; }

/* line 82, home/static/scss/main.scss */
.container {
  max-width: 1180px; }
  /* line 84, home/static/scss/main.scss */
  .container .lorem__photo {
    max-width: 580px; }
    /* line 86, home/static/scss/main.scss */
    .container .lorem__photo img {
      max-width: 180px; }
  /* line 90, home/static/scss/main.scss */
  .container .lorem__text {
    max-width: 480px; }
    /* line 93, home/static/scss/main.scss */
    .container .lorem__text h2 {
      font-family: "ChakraPetch", sans-serif;
      font-weight: 700;
      font-size: 24px;
      text-transform: uppercase;
      color: #f68619; }
    /* line 100, home/static/scss/main.scss */
    .container .lorem__text p {
      font-family: "ChakraPetch", sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 200%;
      text-align: justify;
      color: #242424; }

/* line 113, home/static/scss/main.scss */
.container__loren {
  margin-bottom: 100px; }

/* line 117, home/static/scss/main.scss */
.container__city {
  margin-bottom: 148px; }

/* line 120, home/static/scss/main.scss */
.card__city {
  position: relative; }
  /* line 122, home/static/scss/main.scss */
  .card__city .card__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  /* line 129, home/static/scss/main.scss */
  .card__city h2 {
    font-family: "ChakraPetch", sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #fff; }
  /* line 136, home/static/scss/main.scss */
  .card__city h3 {
    font-family: "ChakraPetch", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fff; }
  /* line 143, home/static/scss/main.scss */
  .card__city .card__arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  /* line 150, home/static/scss/main.scss */
  .card__city .lear__more {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }
  /* line 157, home/static/scss/main.scss */
  .card__city p {
    text-align: center;
    font-family: "ChakraPetch", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #fff; }
  /* line 164, home/static/scss/main.scss */
  .card__city .black {
    color: #242424; }

/* line 174, home/static/scss/main.scss */
.section__text-lorem {
  position: relative;
  max-width: 1400px;
  height: 400px;
  margin: 0 auto 100px auto; }
  /* line 180, home/static/scss/main.scss */
  .section__text-lorem .text__lorem-bg {
    position: absolute; }
  /* line 184, home/static/scss/main.scss */
  .section__text-lorem .container {
    position: relative;
    z-index: 2; }
    /* line 188, home/static/scss/main.scss */
    .section__text-lorem .container .text__lorem {
      background: #a77d53;
      border-radius: 20px;
      padding: 50px 50px 50px 80px;
      position: relative; }
      @media (max-width: 500px) {
        /* line 188, home/static/scss/main.scss */
        .section__text-lorem .container .text__lorem {
          padding: 25px; } }
      /* line 198, home/static/scss/main.scss */
      .section__text-lorem .container .text__lorem .white__line {
        position: absolute;
        left: 50px;
        bottom: 20%; }
        @media (max-width: 500px) {
          /* line 198, home/static/scss/main.scss */
          .section__text-lorem .container .text__lorem .white__line {
            display: none; } }
    /* line 209, home/static/scss/main.scss */
    .section__text-lorem .container .text__lorem-title {
      font-family: "ChakraPetch", sans-serif;
      font-weight: 700;
      font-size: 24px;
      text-transform: uppercase;
      color: #fff; }
    /* line 216, home/static/scss/main.scss */
    .section__text-lorem .container .text__lorem-text {
      font-family: "ChakraPetch", sans-serif;
      font-weight: 400;
      font-size: 14px;
      text-align: justify;
      color: #fff; }
    /* line 223, home/static/scss/main.scss */
    .section__text-lorem .container a {
      font-family: "ChakraPetch", sans-serif;
      font-weight: 400;
      font-size: 12px;
      color: #fff;
      text-decoration: none; }

/* line 236, home/static/scss/main.scss */
.row__for-text {
  margin-bottom: 80px; }
  /* line 238, home/static/scss/main.scss */
  .row__for-text h2 {
    font-family: "ChakraPetch", sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #f68619; }
  /* line 245, home/static/scss/main.scss */
  .row__for-text p {
    font-family: "ChakraPetch", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    text-align: justify;
    color: #242424; }
  /* line 253, home/static/scss/main.scss */
  .row__for-text img {
    padding: 12px 0; }

/* line 259, home/static/scss/main.scss */
.container__faq {
  margin-bottom: 100px;
  position: relative; }
  /* line 262, home/static/scss/main.scss */
  .container__faq .faq__arrow {
    position: absolute;
    top: 70px;
    left: -110px; }
    @media (max-width: 1440px) {
      /* line 262, home/static/scss/main.scss */
      .container__faq .faq__arrow {
        display: none; } }
/* line 272, home/static/scss/main.scss */
.accordion-item,
.accordion-button,
.accordion-collapse {
  border: none; }

/* line 277, home/static/scss/main.scss */
.accordion__title {
  font-family: "ChakraPetch", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #f68619;
  padding-bottom: 30px; }

/* line 286, home/static/scss/main.scss */
.accordion-button.collapsed {
  border-bottom: none;
  color: #242424; }

/* line 291, home/static/scss/main.scss */
.accordion-button:not(.collapsed) {
  background-color: #f6f7f7;
  color: #242424; }

/* Додавання верхнього бордера до accordion-collapse, коли він активований */
/* line 299, home/static/scss/main.scss */
.accordion-collapse.collapse.show {
  border-top: 1px solid #D9D9D9;
  /* Задайте ваш бажаний колір та товщину бордера */ }

/* line 303, home/static/scss/main.scss */
.accordion-collapse.collapsing {
  border-top: 1px solid #D9D9D9;
  /* Задайте ваш бажаний колір та товщину бордера */ }

/* line 309, home/static/scss/main.scss */
.accordion-button {
  font-family: "ChakraPetch", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #242424;
  background-color: #f6f7f7; }
  /* line 320, home/static/scss/main.scss */
  .accordion-button:focus {
    box-shadow: none;
    outline: none; }

/* Стиль активного вмісту акордеону */
/* line 327, home/static/scss/main.scss */
.accordion-collapse.colapsing {
  background-color: #f6f7f7; }

/* line 330, home/static/scss/main.scss */
.accordion-collapse.show {
  background-color: #f6f7f7; }

/* line 335, home/static/scss/main.scss */
.accordion-button::after {
  content: '';
  display: inline-block;
  width: 34px;
  height: 34px;
  background-image: url('data:image/svg+xml;utf8,<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="17" cy="17" r="16" stroke="%23242424" stroke-width="2"/><path d="M17 11V23M23 17H11" stroke="black" stroke-width="2" stroke-linecap="round"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease-in-out; }

/* line 346, home/static/scss/main.scss */
.accordion-button[aria-expanded="true"]::after {
  background-image: url('data:image/svg+xml;utf8,<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="17" cy="17" r="16" stroke="%23242424" stroke-width="2"/><path d="M23 17H11" stroke="black" stroke-width="2" stroke-linecap="round"/></svg>'); }

/* line 350, home/static/scss/main.scss */
.accordion-button::before {
  content: none;
  /* Видаляємо стандартну стрілку */ }

/* line 358, home/static/scss/main.scss */
.popular {
  margin-bottom: 100px; }

/* line 361, home/static/scss/main.scss */
.popular__title {
  font-family: "ChakraPetch", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #f68619;
  padding-bottom: 30px; }

/* line 370, home/static/scss/main.scss */
.popular__title-btn {
  border-radius: 20px;
  padding: 10px 20px;
  background: #f8f8f8;
  transition: all 0.5s; }
  /* line 377, home/static/scss/main.scss */
  .popular__title-btn:hover {
    background: #a77d53; }
    /* line 379, home/static/scss/main.scss */
    .popular__title-btn:hover h2 {
      color: #fff; }
    /* line 382, home/static/scss/main.scss */
    .popular__title-btn:hover p {
      color: #fff; }
  /* line 387, home/static/scss/main.scss */
  .popular__title-btn h2 {
    font-family: "ChakraPetch", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #242424;
    text-align: justify;
    transition: all 0.5s; }
  /* line 396, home/static/scss/main.scss */
  .popular__title-btn p {
    font-family: "ChakraPetch", sans-serif;
    font-size: 14px;
    color: #242424;
    text-align: justify;
    font-weight: 400;
    transition: all 0.5s; }

/* Приклад кастомних стилів для VanillaCalendar */
/* Приклад кастомних стилів для VanillaCalendar */
/* line 415, home/static/scss/main.scss */
.vc {
  background-color: #f0f0f0; }

/* line 423, home/static/scss/main.scss */
.vc-header .vc-month,
.vc-header .vc-year {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #f68619; }

/* line 432, home/static/scss/main.scss */
.vc-header .vc-arrow:before {
  background-image: url(/static/img/calendar-next-arrow.svg); }

/* line 435, home/static/scss/main.scss */
.vc-header [data-vc-arrow=next]:before {
  transform: rotate(0deg); }

/* line 438, home/static/scss/main.scss */
.vc-header [data-vc-arrow=prev]:before {
  transform: rotate(180deg); }

/* line 446, home/static/scss/main.scss */
.vc-wrapper {
  margin-bottom: 30px; }
  /* line 448, home/static/scss/main.scss */
  .vc-wrapper .vc-week__day {
    font-family: "Almarai", sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #141414; }
    /* line 455, home/static/scss/main.scss */
    .vc-wrapper .vc-week__day[data-vc-week-day-off] {
      color: #b64a09; }
  /* line 463, home/static/scss/main.scss */
  .vc-wrapper .vc-date[data-vc-date-holiday] .vc-date__btn, .vc-wrapper .vc-date[data-vc-date-weekend] .vc-date__btn {
    color: #b64a09; }
  /* line 468, home/static/scss/main.scss */
  .vc-wrapper .vc-date[data-vc-date-today] .vc-date__btn {
    color: #f68619; }
    /* line 471, home/static/scss/main.scss */
    .vc-wrapper .vc-date[data-vc-date-today] .vc-date__btn:hover {
      color: #f68619; }
  /* line 478, home/static/scss/main.scss */
  .vc-wrapper .vc-date[data-vc-date-selected] .vc-date__btn {
    background: #f68619; }
    /* line 480, home/static/scss/main.scss */
    .vc-wrapper .vc-date[data-vc-date-selected] .vc-date__btn:hover {
      background: #f68619; }
  /* line 487, home/static/scss/main.scss */
  .vc-wrapper .vc-date[data-vc-date-selected=middle][data-vc-date-selected] .vc-date__btn {
    background: #f5e4c4;
    color: #141414; }
    /* line 490, home/static/scss/main.scss */
    .vc-wrapper .vc-date[data-vc-date-selected=middle][data-vc-date-selected] .vc-date__btn:hover {
      background: #f68619; }
  /* line 497, home/static/scss/main.scss */
  .vc-wrapper .vc-date[data-vc-date-selected=middle][data-vc-date-weekend][data-vc-date-selected] .vc-date__btn {
    background: #f5e4c4;
    color: #141414; }
    /* line 500, home/static/scss/main.scss */
    .vc-wrapper .vc-date[data-vc-date-selected=middle][data-vc-date-weekend][data-vc-date-selected] .vc-date__btn:hover {
      background: #f68619; }
  /* line 509, home/static/scss/main.scss */
  .vc-wrapper .vc-date__btn {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #141414; }
