@font-face {
  font-family: 'ChakraPetch';
  font-weight: bold;
  src: url("/static/fonts/ChakraPetch-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'ChakraPetch';
  font-weight: normal;
  src: url("/static/fonts/ChakraPetch-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'ProximaNova';
  font-weight: bold;
  src: url("/static/fonts/proximanova_bold.otf") format("opentype"); }

@font-face {
  font-family: 'ProximaNova';
  font-weight: normal;
  src: url("/static/fonts/proximanova_regular.ttf") format("truetype"); }

@font-face {
  font-family: 'ChakraPetch';
  font-weight: bold;
  src: url("/static/fonts/ChakraPetch-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'ChakraPetch';
  font-weight: normal;
  src: url("/static/fonts/ChakraPetch-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'ProximaNova';
  font-weight: bold;
  src: url("/static/fonts/proximanova_bold.otf") format("opentype"); }

@font-face {
  font-family: 'ProximaNova';
  font-weight: normal;
  src: url("/static/fonts/proximanova_regular.ttf") format("truetype"); }

/* line 3, home/static/scss/header.scss */
header .btn-change {
  background-image: url(/static/img/header_btn.svg);
  width: 180px;
  height: 30px;
  border: none;
  font-family: "ChakraPetch", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  margin-right: 30px; }

@font-face {
  font-family: 'ChakraPetch';
  font-weight: bold;
  src: url("/static/fonts/ChakraPetch-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'ChakraPetch';
  font-weight: normal;
  src: url("/static/fonts/ChakraPetch-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'ProximaNova';
  font-weight: bold;
  src: url("/static/fonts/proximanova_bold.otf") format("opentype"); }

@font-face {
  font-family: 'ProximaNova';
  font-weight: normal;
  src: url("/static/fonts/proximanova_regular.ttf") format("truetype"); }

/* line 3, home/static/scss/footer.scss */
.bg-footer {
  background: #f8f8f8; }

/* line 10, home/static/scss/footer.scss */
footer .col h5 {
  padding-bottom: 10px;
  font-family: "ProximaNova", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: justify;
  color: #242424; }

/* line 20, home/static/scss/footer.scss */
footer .col_container {
  border-top: 1px solid #d9d9d9; }
  /* line 23, home/static/scss/footer.scss */
  footer .col_container a {
    font-family: "ProximaNova", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #242424;
    text-decoration: none; }

/* line 34, home/static/scss/footer.scss */
footer .footer__btn .btn {
  background: #f68619;
  width: 180px;
  height: 30px;
  font-family: "ProximaNova", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center; }

/* line 51, home/static/scss/footer.scss */
.gw-site {
  background: #f68619;
  z-index: 1;
  height: 30px; }
  /* line 55, home/static/scss/footer.scss */
  .gw-site p {
    font-family: "ChakraPetch", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #fff; }

/* line 5, home/static/scss/main.scss */
.top__container {
  max-width: 1400px;
  margin: 0 auto; }

/* line 10, home/static/scss/main.scss */
.jumbotron {
  position: relative;
  max-width: 1400px;
  height: 600px;
  margin: 0 auto 100px auto; }
  /* line 15, home/static/scss/main.scss */
  .jumbotron img {
    position: absolute; }
  /* line 18, home/static/scss/main.scss */
  .jumbotron .container {
    position: relative; }
  /* line 23, home/static/scss/main.scss */
  .jumbotron .jumbotron__section {
    max-width: 580px; }
  /* line 26, home/static/scss/main.scss */
  .jumbotron .jumbotron__title {
    font-family: "ChakraPetch", sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #fff; }
    @media (max-width: 768px) {
      /* line 26, home/static/scss/main.scss */
      .jumbotron .jumbotron__title {
        font-size: 24px; } }
  /* line 37, home/static/scss/main.scss */
  .jumbotron .jumbotron__text {
    font-family: "ChakraPetch", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #fff; }
  /* line 45, home/static/scss/main.scss */
  .jumbotron .jumbotron__info {
    border-radius: 20px;
    padding: 30px;
    background: #f8f8f8; }
    /* line 49, home/static/scss/main.scss */
    .jumbotron .jumbotron__info .btn {
      border-radius: 20px;
      max-width: 220px; }
    /* line 54, home/static/scss/main.scss */
    .jumbotron .jumbotron__info .jumbotron__info-title {
      font-family: "ChakraPetch", sans-serif;
      font-weight: 700;
      font-size: 14px;
      color: #242424; }
    /* line 60, home/static/scss/main.scss */
    .jumbotron .jumbotron__info .jumbotron__info-text {
      font-family: "ChakraPetch", sans-serif;
      font-weight: 400;
      font-size: 12px;
      color: #242424; }
      /* line 65, home/static/scss/main.scss */
      .jumbotron .jumbotron__info .jumbotron__info-text div {
        position: relative; }
        /* line 67, home/static/scss/main.scss */
        .jumbotron .jumbotron__info .jumbotron__info-text div img {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 4px; }

/* line 77, home/static/scss/main.scss */
.container {
  max-width: 1180px; }
  /* line 79, home/static/scss/main.scss */
  .container .lorem_photo {
    max-width: 580px; }
    /* line 81, home/static/scss/main.scss */
    .container .lorem_photo img {
      max-width: 180px; }
  /* line 85, home/static/scss/main.scss */
  .container .lorem_text {
    max-width: 480px; }
    /* line 88, home/static/scss/main.scss */
    .container .lorem_text h2 {
      font-family: "ChakraPetch", sans-serif;
      font-weight: 700;
      font-size: 24px;
      text-transform: uppercase;
      color: #f68619; }
    /* line 95, home/static/scss/main.scss */
    .container .lorem_text p {
      font-family: "ChakraPetch", sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 200%;
      text-align: justify;
      color: #242424; }

/* line 108, home/static/scss/main.scss */
.container__loren {
  margin-bottom: 100px; }

/* line 112, home/static/scss/main.scss */
.container__city {
  margin-bottom: 148px; }

/* line 115, home/static/scss/main.scss */
.card__city {
  position: relative; }
  /* line 117, home/static/scss/main.scss */
  .card__city .card__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  /* line 124, home/static/scss/main.scss */
  .card__city h2 {
    font-family: "ChakraPetch", sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #fff; }
  /* line 131, home/static/scss/main.scss */
  .card__city h3 {
    font-family: "ChakraPetch", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fff; }
  /* line 138, home/static/scss/main.scss */
  .card__city .card__arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  /* line 145, home/static/scss/main.scss */
  .card__city .lear__more {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }
  /* line 152, home/static/scss/main.scss */
  .card__city p {
    text-align: center;
    font-family: "ChakraPetch", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #fff; }
  /* line 159, home/static/scss/main.scss */
  .card__city .black {
    color: #242424; }

/* line 169, home/static/scss/main.scss */
.section__text-lorem {
  position: relative;
  max-width: 1400px;
  height: 400px;
  margin: 0 auto 100px auto; }
  /* line 175, home/static/scss/main.scss */
  .section__text-lorem .text__lorem-bg {
    position: absolute; }
  /* line 179, home/static/scss/main.scss */
  .section__text-lorem .container {
    position: relative;
    z-index: 2; }
    /* line 183, home/static/scss/main.scss */
    .section__text-lorem .container .text__lorem {
      background: #a77d53;
      border-radius: 20px;
      padding: 50px; }
    /* line 189, home/static/scss/main.scss */
    .section__text-lorem .container .text__lorem-title {
      font-family: "ChakraPetch", sans-serif;
      font-weight: 700;
      font-size: 24px;
      text-transform: uppercase;
      color: #fff; }
    /* line 196, home/static/scss/main.scss */
    .section__text-lorem .container .text__lorem-text {
      font-family: "ChakraPetch", sans-serif;
      font-weight: 400;
      font-size: 14px;
      text-align: justify;
      color: #fff; }
    /* line 203, home/static/scss/main.scss */
    .section__text-lorem .container a {
      font-family: "ChakraPetch", sans-serif;
      font-weight: 400;
      font-size: 12px;
      color: #fff;
      text-decoration: none; }
    /* line 211, home/static/scss/main.scss */
    .section__text-lorem .container .text__lorem-border {
      border-radius: 10px;
      border-left: 5px solid #fff;
      padding-left: 5px; }
