<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center py-2 mb-3">
      <a href="/" class=" d-flex align-items-center me-3 mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <img src="../../static/img/Logo.svg" alt="logo">
      </a>


        <div class="row no-gutters">
    <button type="button" class="btn btn__change col-8">BECOME A HOST</button>
    <div class="dropdown text-end offset-1 col-1 me-3">
        <a href="#" class="d-block link-body-emphasis text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../static/img/user.svg" alt="user">
            </a>
            <ul class="dropdown-menu text-small" style="">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
        <div class="text-end col-1">
            <a href="#" class="d-block link-body-emphasis text-decoration-none" id="openNavbar">
                <img src="../../static/img/burger.svg" alt="burger">
            </a>
        </div>
        </div>

        <div class="navbar-overlay" id="navbarOverlay">
    <div class="navbar-header">
        <span>Menu</span>
        <span class="close-btn" id="closeNavbar"><img src="/static/img/navbar-close-btn.svg" alt=""></span>
    </div>
    <div class="navbar-nav-wrapper">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">Location</a>
            <a class="nav-item nav-link" href="#">About us</a>
            <!-- Додайте більше елементів тут -->
            <a class="nav-item nav-link" href="#">Location</a>
            <a class="nav-item nav-link" href="#">About us</a>
            <a class="nav-item nav-link" href="#">Location</a>
            <a class="nav-item nav-link" href="#">About us</a>
            <a class="nav-item nav-link" href="#">Location</a>
            <a class="nav-item nav-link" href="#">About us</a>
            <a class="nav-item nav-link" href="#">Location</a>
            <a class="nav-item nav-link" href="#">About us</a>
            <a class="nav-item nav-link" href="#">Location</a>
            <a class="nav-item nav-link" href="#">About us</a>
            <a class="nav-item nav-link" href="#">Location</a>
            <a class="nav-item nav-link" href="#">About us</a>
            <a class="nav-item nav-link" href="#">Location</a>
            <a class="nav-item nav-link" href="#">About us</a>
            <a class="nav-item nav-link" href="#">Location</a>
            <a class="nav-item nav-link" href="#">About us</a>
            <a class="nav-item nav-link" href="#">Location</a>
            <a class="nav-item nav-link" href="#">About us</a>
            <a class="nav-item nav-link" href="#">Location</a>
            <a class="nav-item nav-link" href="#">About us</a>

        </div>
    </div>
</div>


    </header>
</div>